.calc{
    width: 320px;
    /* height: 320px; */
  
    margin-top: 100% auto;
  }
  #answer{
    background-color: #f2dbf6de;
    padding:  10px;
    font-size: 35px;
    width: 295px;
    height : 45px;
    text-align: right;
    border: 3px  solid #333;
  }
  .button{
    background-color: rgb(55, 131, 186);
    height: 80px;
    width: 80px;
    color: white;
    border: 1px solid rgb(243, 237, 237);
    font-size: 35px;
  }
  .container-cal{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
  }
  
  .button1{
    width :160px;
  }
  .button:hover{
    background-color: rgb(237, 57, 240);
  }